@import "../../../styles.scss";

@include media-breakpoint-down(sm) {
  .sticky-top {
    position: relative !important;
  }
}

@include media-breakpoint-up(md) {
  .sticky-top {
    top: 5rem;
    max-height: 80vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.color-paypal {
  color: #003087;
}

.color-mastercard {
  color: #000066;
}

.color-visa {
  color: #1A1F71;
}
