<nav class="navbar navbar-expand-lg navbar-light white">
  <span class="navbar-brand mb-0 h1">Les saveurs du Vietnam</span>

  <form *ngIf="!(isLogged$ | async)" class="form-inline ml-auto">
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="modal"
      data-target="#loginModal"
    >
      Connexion
    </button>
  </form>
  <button
    *ngIf="user$ | async"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#userNavDropdown"
    aria-controls="userNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    *ngIf="user$ | async"
    class="collapse navbar-collapse"
    id="userNavDropdown"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="userNavbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ (user$ | async)?.username }}
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="userNavbarDropdownMenuLink"
        >
          <a class="dropdown-item" [routerLink]="['/store']">La boutique</a>
          <a class="dropdown-item" href="#" (click)="logout()"
            >Se déconnecter</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>

<div
  class="jarallax"
  style="background-image: url(assets/img/parallax/cafe-glace.gif); background-attachment: fixed; height: 600px;"
>
  <div class="container">
    <div
      class="d-flex align-items-center d-flex justify-content-center"
      style="height: 600px"
    >
      <div class="row mt-5">
        <div class="col-md-12 mb-3">
          <div class="text-center text-white">
            <h2 class="display-4 mb-2">Les saveurs du Vietnam</h2>
            <h5 class="h2 mb-3 mt-1">De délicieux produits de qualités.</h5>
            <button
              type="button"
              class="btn btn-primary"
              (click)="scroll(valeurs)"
            >
              En savoir plus
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #valeurs class="container py-5">
  <div class="text-center pb-4">
    <h3>Ramenez le Vietnam chez vous!</h3>
    <h4>Nos valeurs vous garentissent une qualité incomparable!</h4>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 px-4 pb-4">
      <div class="text-center">
        <img
          src="assets/img/icons/ecology.png"
          alt="Biologique"
          style="width: 64px"
        />
      </div>
      <h4 class="text-center pb-2">Biologique</h4>
      <p class="text-justify">
        Nous avons fait le choix de vous vendre uniquement des produits issus de
        l'agriculture biologique. Non seulement ils seront plus sain pour votre
        corp mais ils permettent de respecter les terres vietnamiennes où vos
        produits seront cultivés.
      </p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="text-center">
        <img
          src="assets/img/icons/balance-scale.png"
          alt="Éthique"
          style="width: 64px"
        />
      </div>
      <h4 class="text-center pb-2">Éthique</h4>
      <p class="text-justify">
        Lorsque vous faite des achats sur
        <strong>les saveurs du Vietnam</strong>, vous êtes sûr que les
        agriculteurs et commerçants seront rémunérés de manière juste. Nous
        sommes particulièrement attachés à maintenir une relation de confiance
        avec nos partenaires.
      </p>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="text-center">
        <img
          src="assets/img/icons/tote-bag.png"
          alt="Écologique"
          style="width: 64px"
        />
      </div>
      <h4 class="text-center b-2">Écologique</h4>
      <p class="text-justify">
        En plus de vous fornir des produits biologiques, nous nous assurons de
        minimiser au mieux que possible l'emprunte carbonne des produits achetés
        en nous souciant par nous même de l'embalage et du transport depuis le
        Vietnam jusqu'à nos boutique ou votre porte.
      </p>
    </div>
  </div>
</div>

<div
  class="jarallax"
  style="background-image: url(assets/img/parallax/cafe-rustique.gif); background-attachment: fixed; height: 300px;"
>
  <div class="container">
    <div
      class="d-flex align-items-center d-flex justify-content-center"
      style="height: 300px"
    >
      <div class="row mt-5">
        <div class="col-md-12 mb-3">
          <div class="text-center text-white">
            <h2 class="h2mb-2">Visiter notre séléction de cafés</h2>
            <h5 class="h4 mb-3 mt-1">
              Séléctionnés par nos soins auprès de producteurs résponsables
            </h5>
            <button type="button" class="btn btn-primary">Acheter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="text-center">
    <h4>The best way to start developing</h4>
    <p>Cras facilisis mi vitae nunc</p>
  </div>
</div>

<footer class="footer bg-primary text-white px-2 py-2">
  <div class="container-fluid">
    <div class="text-center">
      Les saveurs du Vietnam <strong>&copy; {{ year }}</strong>
    </div>
  </div>
</footer>

<app-login *ngIf="!(isLogged$ | async)"></app-login>
